# rice whitelist gitignore
*
!.gitignore
!.ignore
!.xinitrc
!.inputrc
!.bashrc
!.Xdefaults
!.profile
!.bash_profile
!.bin
!.bin/scripts
!.bin/*
# relevant configs
!.config/
!.config/bspwm
!.config/sxhkd
!.config/dunst
!.config/mpv
!.config/polybar
!.config/qutebrowser
!.config/zathura
!.config/composer
!.config/lf
!.config/lftp
!.config/xkb

node_modules
node_modules/
